
Ink Canvas/obj/
Ink Canvas/bin/

Ink_Canvas_Better.Core/obj/
Ink_Canvas_Better.Core/bin/

Ink_Canvas_Better.Controls/obj/
Ink_Canvas_Better.Controls/bin/

Ink_Canvas_Better.Old/obj/
Ink_Canvas_Better.Old/bin/

.vs/

.claudiaideconfig
